# music files
*.mp3
*.flac
*.wav
*.ogg
*.m4a
*.wma
*.ape

# lyrics
*.lrc

# folders
songs/
lyrics/
lyrics-ttml-json/
music/
playlists/

# Other files that not for git
version control/
temp/
xsongs/
*.cfg
*.xml
*.json
*.ini
*.log
*.txt
*.csv

#files in exceptions
!version_history.txt